@import './wave.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;
}

#app {
  @apply overflow-hidden;
  width: 280px;
  min-width: 280px;
  max-width: 280px;
}

a {
  @apply font-medium text-primary hover:text-primary-hover;
}

div {
  scrollbar-width: thin;
  scrollbar-color: rgb(77 167 137) #000000;
}
div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
div::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 9999px;
}
div::-webkit-scrollbar-thumb {
  background-color: rgb(77 167 137);
  border-radius: 9999px;
  border: 1px solid #000000;
}

@layer components {
  .toggle {
    --bg: theme('colors.transparent');
    --chk: theme('colors.neutral.800');
    background-color: var(--chk);
    box-shadow:
      -18px 0 0 2px var(--bg) inset,
      0 0 0 2px var(--bg) inset;
    height: 18px;
    width: 36px;
    @apply flex-shrink-0 cursor-pointer appearance-none rounded-full border transition-all duration-200;
  }
  .toggle:checked {
    --chk: theme('colors.primary.DEFAULT');
    box-shadow:
      18px 0 0 2px var(--bg) inset,
      0 0 0 2px var(--bg) inset;
    @apply border-primary;
  }
  .toggle:checked:disabled,
  .toggle:checked.disabled {
    background-color: theme('colors.stone.800') !important;
  }
  .toggle:disabled,
  .toggle.disabled {
    background-color: theme('colors.stone.800') !important;
  }
  .toggle:focus-visible {
    outline: 2px solid theme('colors.primary.DEFAULT');
  }
}
