.wave {
  animation: wave 6s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  background: url(/wave.svg) repeat-x;
  bottom: 0;
  height: 90px;
  opacity: 0.1;
  position: absolute;
  width: 2000px;
}
.wave:nth-of-type(2) {
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.25s infinite;
  bottom: 0;
  height: 130px;
  opacity: 0.05;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
